# 1) Handling Missing Values: Identify and fill missing values in a dataset using methods such as mean imputation or forward/backward filling.

In [2]:
from pandas import DataFrame
from numpy import nan
# Sample dataset with missing values
data = {
    'A': [1, 2, nan, 4, 5],
    'B': [nan, 2, 3, nan, 5],
    'C': [1, nan, 3, 4, nan]
}
# Create a DataFrame
df = DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:")
print(df)

# Mean Imputation
df_mean_imputed = df.fillna(df.mean())

# Display the DataFrame after Mean Imputation
print("\nDataFrame after Mean Imputation:")
print(df_mean_imputed)
#Forward Filling
#This program fills missing values with the previous value in the column.
# Sample dataset with missing values
data = {
    'A': [1, 2, nan, 4, 5],
    'B': [nan, 2, 3, nan, 5],
    'C': [1, nan, 3, 4, nan]
}

# Create a DataFrame
df = DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:")
print(df)

# Forward Filling
df_forward_filled = df.fillna(method='ffill')

# Display the DataFrame after Forward Filling
print("\nDataFrame after Forward Filling:")
print(df_forward_filled)
#Backward Filling
#This program fills missing values with the next value in the column.

# Sample dataset with missing values
data = {
    'A': [1, 2, nan, 4, 5],
    'B': [nan, 2, 3, nan, 5],
    'C': [1, nan, 3, 4, nan]
}

# Create a DataFrame
df = DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:")
print(df)

# Backward Filling
df_backward_filled = df.fillna(method='bfill')

# Display the DataFrame after Backward Filling
print("\nDataFrame after Backward Filling:")
print(df_backward_filled)

Original DataFrame:
     A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  NaN
2  NaN  3.0  3.0
3  4.0  NaN  4.0
4  5.0  5.0  NaN

DataFrame after Mean Imputation:
     A         B         C
0  1.0  3.333333  1.000000
1  2.0  2.000000  2.666667
2  3.0  3.000000  3.000000
3  4.0  3.333333  4.000000
4  5.0  5.000000  2.666667
Original DataFrame:
     A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  NaN
2  NaN  3.0  3.0
3  4.0  NaN  4.0
4  5.0  5.0  NaN

DataFrame after Forward Filling:
     A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  1.0
2  2.0  3.0  3.0
3  4.0  3.0  4.0
4  5.0  5.0  4.0
Original DataFrame:
     A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  NaN
2  NaN  3.0  3.0
3  4.0  NaN  4.0
4  5.0  5.0  NaN

DataFrame after Backward Filling:
     A    B    C
0  1.0  2.0  1.0
1  2.0  2.0  3.0
2  4.0  3.0  3.0
3  4.0  5.0  4.0
4  5.0  5.0  NaN

<ipython-input-2-8d0185ed729b>:39: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_forward_filled = df.fillna(method='ffill')
<ipython-input-2-8d0185ed729b>:62: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_backward_filled = df.fillna(method='bfill')

# 2) Data Filtering: Filter rows or columns based on specified criteria, such as removing outliers or selecting data within a certain range.

In [3]:
from pandas import DataFrame
data={
    'Name':['Alice','Bob','Charlie','David','Eva'],
    'Score':[85,92,78,88,90],
    'Age':[20, 21, 19, 22, 20]
}
df=DataFrame(data)
filtered_df=df[df['Score']>=80]
print(filtered_df)
data={
    'Name':['Alice','Bob','Charlie','David','Eva'],
    'Score':[85,92,78,88,150],
    'Age':[20, 21, 19, 22, 20]
}
df=DataFrame(data)

# Define the range to keep scores within
lower_bound = 70
upper_bound = 100

# Filter the rows based on the score range
filtered_df = df[(df['Score'] >= lower_bound) & (df['Score'] <= upper_bound)]

# Display the filtered DataFrame
print(filtered_df)
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Score': [85, 92, 78, 88, 150],
    'Age': [20, 21, 19, 22, 20],
    'Gender': ['F', 'M', 'M', 'M', 'F']
}
df = DataFrame(data)
selected_columns_df=df[['Name','Score']]
print(selected_columns_df)

    Name  Score  Age
0  Alice     85   20
1    Bob     92   21
3  David     88   22
4    Eva     90   20
      Name  Score  Age
0    Alice     85   20
1      Bob     92   21
2  Charlie     78   19
3    David     88   22
      Name  Score
0    Alice     85
1      Bob     92
2  Charlie     78
3    David     88
4      Eva    150

# 3) Data Aggregation: Aggregate data by grouping rows based on a specific attribute and computing summary statistics, such as mean, median, or count.

In [17]:
from pandas import DataFrame
# Sample DataFrame
data = {
    'Category': ['A', 'B', 'A', 'B', 'C', 'A', 'C', 'B'],
    'Value': [10, 20, 15, 25, 30, 10, 40, 25]
}
df = DataFrame(data)
mean_data = df.groupby('Category')['Value'].mean().reset_index()
# Display the result of groupby 'Category' and computed mean
print(mean_data)
median_data = df.groupby('Category')['Value'].median().reset_index()
# Display the result of groupby 'Category' and computed median
print(median_data)
count_data = df.groupby('Category')['Value'].count().reset_index()
# Display the result of groupby 'Category' and computed count
print(count_data)
aggregated_data = df.groupby('Category').agg(
    mean_value = ('Value', 'mean'),
    median_value = ('Value', 'median'),
    count = ('Value', 'count')
).reset_index()
# Display result of groupby 'Category' and summary statistics
print(aggregated_data)

  Category      Value
0        A  11.666667
1        B  23.333333
2        C  35.000000
  Category  Value
0        A   10.0
1        B   25.0
2        C   35.0
  Category  Value
0        A      3
1        B      3
2        C      2
  Category  mean_value  median_value  count
0        A   11.666667          10.0      3
1        B   23.333333          25.0      3
2        C   35.000000          35.0      2

# 4) Data Concatenation: Concatenate multiple datasets along rows or columns to create a unified dataset.

In [9]:
from pandas import DataFrame, concat

# Sample dataframes
df1 = DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})
print(df1,"\n")
df2 = DataFrame({
    'ID': [4, 5, 6],
    'Name': ['David', 'Eve', 'Frank']
})
print(df2,"\n")
df3 = DataFrame({
    'ID': [7, 8, 9],
    'Name': ['Grace', 'Heidi', 'Ivan']
})
print(df3,"\n")
# Concatenating along rows (adding more rows to the dataset)
df_row_concat = concat([df1, df2, df3], axis=0, ignore_index=True)
print("Concatenated along rows:\n", df_row_concat)

# Sample dataframes with different columns
df4 = DataFrame({
    'Age': [25, 30, 35]
})
print(df4,"\n")
# Concatenating along columns (adding more columns to the dataset)
df_col_concat = concat([df1, df4], axis=1)
print("\nConcatenated along columns:\n", df_col_concat)
print(concat([df1, df4], join='inner'))
print(concat([df1, df4], join='outer'))

   ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie

   ID   Name
0   4  David
1   5    Eve
2   6  Frank

   ID   Name
0   7  Grace
1   8  Heidi
2   9   Ivan

Concatenated along rows:
    ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie
3   4    David
4   5      Eve
5   6    Frank
6   7    Grace
7   8    Heidi
8   9     Ivan
   Age
0   25
1   30
2   35


Concatenated along columns:
    ID     Name  Age
0   1    Alice   25
1   2      Bob   30
2   3  Charlie   35
Empty DataFrame
Columns: []
Index: [0, 1, 2, 0, 1, 2]
    ID     Name   Age
0  1.0    Alice   NaN
1  2.0      Bob   NaN
2  3.0  Charlie   NaN
0  NaN      NaN  25.0
1  NaN      NaN  30.0
2  NaN      NaN  35.0

# 5) Data Reshaping: Reshape data by pivoting, stacking, or unstacking to convert between wide and long formats

In [7]:
from pandas import DataFrame

# Sample data
data = {
    'Name': ['John', 'Mary', 'John', 'Mary'],
    'Year': [2020, 2020, 2021, 2021],
    'Sales': [100, 200, 150, 250]
}

df = DataFrame(data)

print("Original Data:")
print(df)

# Pivot (long to wide)
df_pivot = df.pivot(index='Name', columns='Year', values='Sales')

print("\nPivoted Data:")
print(df_pivot)

# Stack (wide to long)
df_stack = df_pivot.stack()

print("\nStacked Data:")
print(df_stack)

# Unstack (long to wide)
df_unstack = df_stack.unstack()

print("\nUnstacked Data:")
print(df_unstack)

Original Data:
   Name  Year  Sales
0  John  2020    100
1  Mary  2020    200
2  John  2021    150
3  Mary  2021    250

Pivoted Data:
Year  2020  2021
Name
John   100   150
Mary   200   250

Stacked Data:
Name  Year
John  2020    100
      2021    150
Mary  2020    200
      2021    250
dtype: int64

Unstacked Data:
Year  2020  2021
Name
John   100   150
Mary   200   250

# 6) Data Sampling: Randomly sample rows or columns from a dataset to create a smaller subset for analysis

In [10]:
import pandas as pd

# Sample dataset
data = {
    'name': ['John', 'Jane', 'Tom', 'Anna', 'James'],
    'age': [23, 25, 24, 22, 26],
    'score': [88, 92, 85, 90, 87]
}

df = pd.DataFrame(data)

# Randomly sample 3 rows from the dataset
df_sample_rows = df.sample(n=3, random_state=1)
print(df_sample_rows)

    name  age  score
2    Tom   24     85
1   Jane   25     92
4  James   26     87

# 7) Data Conversion: Convert data types of columns, such as converting categorical variables to numerical or vice versa

In [11]:
from pandas import DataFrame, get_dummies, cut
from sklearn.preprocessing import LabelEncoder

# Sample dataset
data = {
    'name': ['John', 'Jane', 'Tom', 'Anna'],
    'gender': ['male', 'female', 'male', 'female']
}

df = DataFrame(data)

# Convert categorical 'gender' column to numerical using one-hot encoding
df_one_hot = get_dummies(df, columns=['gender'])
print(df_one_hot)


# Convert categorical 'gender' column to numerical using label encoding
le = LabelEncoder()
df['gender_encoded'] = le.fit_transform(df['gender'])
print(df)

# Sample dataset
data = {
    'name': ['John', 'Jane', 'Tom', 'Anna'],
    'age': [23, 25, 24, 22]
}

df = DataFrame(data)

# Define bins and labels for age
bins = [20, 22, 24, 26]
labels = ['Young', 'Mid', 'Senior']

# Convert numerical 'age' column to categorical using pd.cut()
df['age_group'] = cut(df['age'], bins=bins, labels=labels)
print(df)

# Convert numerical 'age' column to string
df['age_str'] = df['age'].astype(str)
print(df)

# Convert a string column to integer (if applicable)
df['age'] = df['age_str'].astype(int)
print(df)

# Sample dataset with boolean values
data = {
    'name': ['John', 'Jane', 'Tom', 'Anna'],
    'is_active': [True, False, True, False]
}

df = DataFrame(data)

# Convert boolean 'is_active' column to integers (0 or 1)
df['is_active_int'] = df['is_active'].astype(int)
print(df)

   name  gender_female  gender_male
0  John          False         True
1  Jane           True        False
2   Tom          False         True
3  Anna           True        False
   name  gender  gender_encoded
0  John    male               1
1  Jane  female               0
2   Tom    male               1
3  Anna  female               0
   name  age age_group
0  John   23       Mid
1  Jane   25    Senior
2   Tom   24       Mid
3  Anna   22     Young
   name  age age_group age_str
0  John   23       Mid      23
1  Jane   25    Senior      25
2   Tom   24       Mid      24
3  Anna   22     Young      22
   name  age age_group age_str
0  John   23       Mid      23
1  Jane   25    Senior      25
2   Tom   24       Mid      24
3  Anna   22     Young      22
   name  is_active  is_active_int
0  John       True              1
1  Jane      False              0
2   Tom       True              1
3  Anna      False              0

# 8) Text Data Processing: Clean and preprocess text data by removing punctuation, stopwords, and performing tokenization

In [13]:
from nltk import download
from re import sub
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

# Download NLTK data (only needed once)
download('punkt')
download('stopwords')
download('punkt_tab')

# Sample text
text = "Data wrangling is the process of transforming raw data into a usable format for analysis. It's also known as data munging, data blending, or data remediation"

# 1. Convert to lowercase
text = text.lower()

# 2. Remove punctuation using regex
text = sub(r'[^\w\s]', '', text)  # Keep only words and spaces

# 3. Tokenize the text
tokens = word_tokenize(text)

# 4. Remove stopwords
stop_words = set(stopwords.words('english'))
filtered_tokens = [word for word in tokens if word not in stop_words]

# Result
print("Filtered Tokens:", filtered_tokens)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt_tab.zip.

Filtered Tokens: ['data', 'wrangling', 'process', 'transforming', 'raw', 'data', 'usable', 'format', 'analysis', 'also', 'known', 'data', 'munging', 'data', 'blending', 'data', 'remediation']

# 9) Date-Time Processing: Extract date or time components from datetime columns and perform operations such as calculating time differences or aggregating by time intervals.

In [14]:
from pandas import DataFrame, to_datetime, Timedelta

# Sample DataFrame with datetime column
df = DataFrame({
    'datetime': to_datetime(['2023-11-01 10:00:00', '2023-11-01 12:30:00', '2023-11-02 15:45:00']),
    'Number of People': [2, 4, 3]
})

# Extract date components
df['year'] = df['datetime'].dt.year
df['month'] = df['datetime'].dt.month
df['day'] = df['datetime'].dt.day

# Extract time components
df['hour'] = df['datetime'].dt.hour
df['minute'] = df['datetime'].dt.minute

# View the result
print("Data Frame:\n",df)

# Adding another datetime column for demonstration
df['end_time'] = df['datetime'] + Timedelta(hours=3)

# Calculate the time difference
df['time_difference'] = df['end_time'] - df['datetime']

# Convert time difference to hours, minutes, etc.
df['time_diff_hours'] = df['time_difference'] / Timedelta(hours=1)
df['time_diff_minutes'] = df['time_difference'] / Timedelta(minutes=1)

print('Time differences calculated:\n',df)

# Set the datetime column as index
df.set_index('datetime', inplace=True)

# Resample by day and calculate the sum or any other aggregate function Select only numeric columns
daily_summary = df.resample('D').sum(numeric_only=True)
print(daily_summary)

# Aggregating with min and max for datetime columns
daily_summary = df.resample('D').agg({
    'Number of People': 'sum'  # Example of summing a numeric column
})
print(daily_summary)

# Resample by custom interval, e.g., 3 hours
three_hour_summary = df.resample('3h').min()

print("Daily Summary:\n", daily_summary)
print("3-Hour Summary:\n", three_hour_summary)

# Set timezone
df['datetime'] = df.index.to_series().dt.tz_localize('UTC')

# Convert to another timezone
df['datetime'] = df['datetime'].dt.tz_convert('America/New_York')

print("Changing Timezones:\n",df)

Data Frame:
              datetime  Number of People  year  month  day  hour  minute
0 2023-11-01 10:00:00                 2  2023     11    1    10       0
1 2023-11-01 12:30:00                 4  2023     11    1    12      30
2 2023-11-02 15:45:00                 3  2023     11    2    15      45
Time differences calculated:
              datetime  Number of People  year  month  day  hour  minute  \
0 2023-11-01 10:00:00                 2  2023     11    1    10       0
1 2023-11-01 12:30:00                 4  2023     11    1    12      30
2 2023-11-02 15:45:00                 3  2023     11    2    15      45

             end_time time_difference  time_diff_hours  time_diff_minutes
0 2023-11-01 13:00:00 0 days 03:00:00              3.0              180.0
1 2023-11-01 15:30:00 0 days 03:00:00              3.0              180.0
2 2023-11-02 18:45:00 0 days 03:00:00              3.0              180.0
            Number of People  year  month  day  hour  minute  time_diff_hours  \
datetime
2023-11-01                 6  4046     22    2    22      30              6.0
2023-11-02                 3  2023     11    2    15      45              3.0

            time_diff_minutes
datetime
2023-11-01              360.0
2023-11-02              180.0
            Number of People
datetime
2023-11-01                 6
2023-11-02                 3
Daily Summary:
             Number of People
datetime
2023-11-01                 6
2023-11-02                 3
3-Hour Summary:
                      Number of People    year  month  day  hour  minute  \
datetime
2023-11-01 09:00:00               2.0  2023.0   11.0  1.0  10.0     0.0
2023-11-01 12:00:00               4.0  2023.0   11.0  1.0  12.0    30.0
2023-11-01 15:00:00               NaN     NaN    NaN  NaN   NaN     NaN
2023-11-01 18:00:00               NaN     NaN    NaN  NaN   NaN     NaN
2023-11-01 21:00:00               NaN     NaN    NaN  NaN   NaN     NaN
2023-11-02 00:00:00               NaN     NaN    NaN  NaN   NaN     NaN
2023-11-02 03:00:00               NaN     NaN    NaN  NaN   NaN     NaN
2023-11-02 06:00:00               NaN     NaN    NaN  NaN   NaN     NaN
2023-11-02 09:00:00               NaN     NaN    NaN  NaN   NaN     NaN
2023-11-02 12:00:00               NaN     NaN    NaN  NaN   NaN     NaN
2023-11-02 15:00:00               3.0  2023.0   11.0  2.0  15.0    45.0

                               end_time time_difference  time_diff_hours  \
datetime
2023-11-01 09:00:00 2023-11-01 13:00:00 0 days 03:00:00              3.0
2023-11-01 12:00:00 2023-11-01 15:30:00 0 days 03:00:00              3.0
2023-11-01 15:00:00                 NaT             NaT              NaN
2023-11-01 18:00:00                 NaT             NaT              NaN
2023-11-01 21:00:00                 NaT             NaT              NaN
2023-11-02 00:00:00                 NaT             NaT              NaN
2023-11-02 03:00:00                 NaT             NaT              NaN
2023-11-02 06:00:00                 NaT             NaT              NaN
2023-11-02 09:00:00                 NaT             NaT              NaN
2023-11-02 12:00:00                 NaT             NaT              NaN
2023-11-02 15:00:00 2023-11-02 18:45:00 0 days 03:00:00              3.0

                     time_diff_minutes
datetime
2023-11-01 09:00:00              180.0
2023-11-01 12:00:00              180.0
2023-11-01 15:00:00                NaN
2023-11-01 18:00:00                NaN
2023-11-01 21:00:00                NaN
2023-11-02 00:00:00                NaN
2023-11-02 03:00:00                NaN
2023-11-02 06:00:00                NaN
2023-11-02 09:00:00                NaN
2023-11-02 12:00:00                NaN
2023-11-02 15:00:00              180.0
Changing Timezones:
                      Number of People  year  month  day  hour  minute  \
datetime
2023-11-01 10:00:00                 2  2023     11    1    10       0
2023-11-01 12:30:00                 4  2023     11    1    12      30
2023-11-02 15:45:00                 3  2023     11    2    15      45

                               end_time time_difference  time_diff_hours  \
datetime
2023-11-01 10:00:00 2023-11-01 13:00:00 0 days 03:00:00              3.0
2023-11-01 12:30:00 2023-11-01 15:30:00 0 days 03:00:00              3.0
2023-11-02 15:45:00 2023-11-02 18:45:00 0 days 03:00:00              3.0

                     time_diff_minutes                  datetime
datetime
2023-11-01 10:00:00              180.0 2023-11-01 06:00:00-04:00
2023-11-01 12:30:00              180.0 2023-11-01 08:30:00-04:00
2023-11-02 15:45:00              180.0 2023-11-02 11:45:00-04:00

# 10) Data Merging: Merge two or more datasets based on common keys or indices to combine information from different sources.

In [15]:
from pandas import DataFrame, merge
# Sample DataFrame 1
df1 = DataFrame({
    'id': [1, 2, 3, 4],
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'age': [24, 27, 22, 32]
})
# Sample DataFrame 2
df2 = DataFrame({
    'id': [3, 4, 5, 6],
    'name': ['Charlie', 'David', 'Eve', 'Frank'],
    'salary': [70000, 80000, 90000, 85000]
})
inner_join = merge(df1, df2, on='id', how='inner')
print("Inner Join:\n", inner_join)
left_join = merge(df1, df2, on='id', how='left')
print('Left Join:\n', left_join)
right_join = merge(df1, df2, on='id', how='right')
print("Right join:\n", right_join)
outer_join = merge(df1, df2, on='id', how='outer')
print("Outer Join:\n", outer_join)
multi_key_merge = merge(df1, df2, on=['id', 'name'], how='inner')
print('Merged using Multiple keys:\n', multi_key_merge)
# Set id as the index for demonstration
df1.set_index('id', inplace=True)
df2.set_index('id', inplace=True)
index_merge = merge(df1, df2, left_index=True, right_index=True, how='inner')
print("Merged using Index:\n", index_merge)
# Reset indices for original merge example
df1.reset_index(inplace=True)
df2.reset_index(inplace=True)
suffix_merge = merge(df1, df2, on='id', how='outer', suffixes=('_left', '_right'))
print("Handling Suffixes of overlapping columns:", suffix_merge)

Inner Join:
    id   name_x  age   name_y  salary
0   3  Charlie   22  Charlie   70000
1   4    David   32    David   80000
Left Join:
    id   name_x  age   name_y   salary
0   1    Alice   24      NaN      NaN
1   2      Bob   27      NaN      NaN
2   3  Charlie   22  Charlie  70000.0
3   4    David   32    David  80000.0
Right join:
    id   name_x   age   name_y  salary
0   3  Charlie  22.0  Charlie   70000
1   4    David  32.0    David   80000
2   5      NaN   NaN      Eve   90000
3   6      NaN   NaN    Frank   85000
Outer Join:
    id   name_x   age   name_y   salary
0   1    Alice  24.0      NaN      NaN
1   2      Bob  27.0      NaN      NaN
2   3  Charlie  22.0  Charlie  70000.0
3   4    David  32.0    David  80000.0
4   5      NaN   NaN      Eve  90000.0
5   6      NaN   NaN    Frank  85000.0
Merged using Multiple keys:
    id     name  age  salary
0   3  Charlie   22   70000
1   4    David   32   80000
Merged using Index:
      name_x  age   name_y  salary
id
3   Charlie   22  Charlie   70000
4     David   32    David   80000
Handling Suffixes of overlapping columns:    id name_left   age name_right   salary
0   1     Alice  24.0        NaN      NaN
1   2       Bob  27.0        NaN      NaN
2   3   Charlie  22.0    Charlie  70000.0
3   4     David  32.0      David  80000.0
4   5       NaN   NaN        Eve  90000.0
5   6       NaN   NaN      Frank  85000.0